*
{
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    color: white;
}
body{
    display: flex;
    flex-direction: column;
}
.header
{
    background-color: rgb(34, 34, 85);
    display: flex;
    flex: 1;
    margin: 0;
    padding: 18px 70px;
    justify-content: space-between;
    align-items: center;
    font-size: 2em;
    font-weight: 900;
}
.links > ul
{
    list-style: none;
    display: flex;
    gap: 12px;
}
li
{
    font-size: 1.5rem;
    font-weight: 900;
}

.main
{
    padding: 25px 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(38, 56, 163);
    flex-wrap: wrap;
    gap:30px;
}
.text
{
    align-self: center;
    flex: 1;
    font-size:  20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.title
{
    font-size: 2.5em;
    font-weight: 900;
}
.description
{
    font-size: 0.9em;
}
.grid
{
    align-self: center;
    flex-shrink: 0;
    display: flex;
    width: 350px;
    justify-content: space-between;
    flex-wrap: wrap;
}
.block
{
    margin: 10px 10px;
    border-width: 15px;
    border-radius: 10px;
    border-color: rgb(62, 90, 252);
    border-style: solid;
    width: 55px;
    height: 55px;
}

.items
{
    background-color: rgb(117, 117, 221);

    display: flex;
    padding: 20px 40px;
    gap: 20px;
}
.item
{
    background-color: rgb(25, 25, 102);
    flex: 1;
    border-radius: 10px;
    margin-bottom: 15px;
    margin-top: 20px;
    padding: 15px;

}
.item-header
{
    display: flex;
    gap: 5px;
    margin-bottom: 10px;
}


